.image{
    display: block;
    margin: 0px auto;
}

.contact{
    position: absolute;
    bottom: 0;
    right: 1%;
}

.paragraph{
    margin-left: 3%;
    margin-right: 3%;
}

.title_h1{
    margin-left: 3%;
    margin-right: 3%;
}